.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1920px;
    height: 100px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.item{
    width: 150;
    height: 150px;
 img{
    width: 150;
    height: 150px;
 }
}